[<html>
  <head>
    <script> 
      function checkempty(form) { 
          if (form.name.value == null ||  
              form.name.value == undefined || 
              form.name.value.length == 0) { 
              
              alert("Invalid \n"); 
              return false; 
          } else { 
              alert("Login successful\n"); 
              return true; 
          } 
      } 
  </script> 
  </head>
  <body>
  <div style='text-align:center'class="container" >

      <form onsubmit="return checkempty(form1)"
            action="#" method="post"
            name="form1"> 
    <h1 style="text-align:center;">REGISTERR</h1>
    <label for="stu_name"><b>USER NAME : </b></label>
    <input type="text" name="stu" id="in1" placeholder="Enter name"[(ngModel)]="name" required/><br><br>
    <label for="phone_no"><b>PHONE NUMBER : </b></label>
    <input type="text" name="phone" id="in2" placeholder="Enter Phone"[(ngModel)]="phone"/><br><br>
    <label for="email_id"><b>EMAIL_ID : </b></label>
    <input type="email" name="email" id="in3" placeholder="Enter email"[(ngModel)]="email"/><br><br>
    
    <button  (click) ='addvalue()' required>REGISTER</button>
  
  <div>
    <ul id='pos'>
      <li *ngFor = "TOTAL  LIST">
        
        <input  name="isDone" [(ngModel)]='item.isDone'/>
        {{item.value}} Data Added <button (click) = 'deleteItem(item.id)'>Delete</button>
      </li>
    </ul>
  </div>
</form>
</div>
</body>
</html>
  





